<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/blog.css">
  <link rel="icon" type="image/x-icon" href="images/salary.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Weekly Deals</title>
</head>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="blog-container">
    <div class="firstrow">
      <div class="blog-header">
        <p class="blog-name">Deals of the week</p>
      </div>
    </div>
    <div class="secondrow">
      <div class="card">
        <p class="blog-title">Style Up Your Wardrobe: Unbeatable Deals on Fashion Essentials!<p>
        <div class="fakeimg">
          <img class="blog-image" src="images/megasales.png" alt="clothes megasales">
        </div>
        <p>
          Indulge in premium quality clothing at half the price! Our sale offers top-notch fabrics and impeccable craftsmanship 
          for lasting style.
          <br />
          <br />
          Find us at: Chic Threads Boutique: Lot 32, Fashion Avenue, Kuala Lumpur Supermart, Jalan Raya, 50200 Kuala Lumpur, Malaysia.
        </p>
      </div>
    </div>

  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
