<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/blog.css">
  <link rel="icon" type="image/x-icon" href="images/salary.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Weekly Deals</title>
</head>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="blog-container">
    <div class="firstrow">
      <div class="blog-header">
        <p class="blog-name">Deals of the week</p>
      </div>
    </div>
    <div class="secondrow">
      <div class="card">
        <p class="blog-title">Milo Mania: Power Up with Unbeatable Promotions!<p>
        <div class="fakeimg">
          <img class="blog-image" src="images/milo-promotion.png" alt="milo promotion">
        </div>
        <p>
          Milo Magic: Energize Your Day with Unbeatable Deals! From creamy hot drinks to nutritious snacks, fuel up with our irresistible 
          Milo promotions and conquer every moment with a boost of energy!
          <br />
          <br />
          Get ready to power up your day with Milo! Discover unbeatable promotions on Milo products at any Lotus's retail store in Malaysia. 
          From Milo powder to ready-to-drink options, fuel your energy with amazing savings today!
          <br />
          <br />
          Find us at: Any Lotus's retail store in Malaysia.
        </p>
      </div>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
